* {font-family: 'Raleway', sans-serif;}

.btn-default {
	font-family: 'Raleway', sans-serif;
	text-shadow: 0 1px 0 #111;
}

p {
	font-size: 18px;
	line-height: 1.5;
}

h3 {
	font-weight:bold;
	color:#7a7a7a !important
}

.row.spaced {
	margin-bottom:40px;
}

.container.spaced {
	margin-bottom:84px;
}

.navbar-brand {
	font-family:'Merriweather','Book Antiqua',Palatino,'Palatino Linotype','Palatino LT STD',Georgia,serif !important;
	font-weight:700;
	color: #fff;
}

.navbar-brand span {
	color:#337AB7 !important;
	font-family:'Merriweather', 'Book Antiqua',Palatino,'Palatino Linotype','Palatino LT STD',Georgia,serif !important;
	font-style:italic;
	font-weight:700;
}

.navbar-brand:hover {
	color: #fff;
}

.navbar-inverse a {
	color:#cfcfcf;
	border-bottom:1px solid transparent;
}

.navbar-inverse a:hover {
	color:#fff;
	border-bottom:1px solid #fff;
}

.navbar-inverse li.active a {
	color:#fff;
}

.jumbotron,
.marketing {text-align:center}

.jumbotron {
	color:#fff;
	text-shadow:0 0 5px #000;
	background-image:url('/img/jumbotron/piano_blur.jpg');
	background-position:50% 50%;
	background-repeat:none;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-attachment:fixed;
	padding:128px 0;
	border-radius:0;
}

.jumbotron .container{
	padding:20px 0;
}

.jumbotron h1,
.jumbotron h1 span,
.jumbotron h1 em {
	font-family: Book Antiqua,Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
}

h2 {font-weight:bold}

.img-circle {
	display:block;
	width:140px;
	height:140px;
	background-color:#337ab7;
	color:#fff;
	border-radius:100%;
	margin:0 auto 16px auto;
	background-position:50% 50%;
	background-repeat:no-repeat;
}

.featurette .img-circle {
	background-color:#fff;
}

.img-circle.music {
	background-image:url('/img/png/piano3.png');
	background-image:url('/img/svg/piano3.svg');
}

.img-circle.voiceover {
	background-image:url('/img/png/voice15.png');
	background-image:url('/img/svg/voice15.svg');
}

.img-circle.sound-design {
	background-image:url('/img/png/music77.png');
	background-image:url('/img/svg/music77.svg');
}

.img-circle.boom-box {
	background-image:url('/img/png/boombox.png');
	background-image:url('/img/svg/boombox.svg');
}

.img-circle.headphone {
	background-image:url('/img/png/headphone3.png');
	background-image:url('/img/svg/headphone3.svg');
}

.img-circle.mic {
	background-image:url('/img/png/mic10.png');
	background-image:url('/img/svg/mic10.svg');
}

#footer {
	background-color:#222;
	color:#efefef;
	padding:20px 0;
	margin:40px 0 0 0;
}

#footer a {
	color:#efefef;
}

footer ul.footer-links {
	margin:0;
	padding:0;
	list-style-type:none;
	font-size: 0;
}
footer ul.footer-links li {
	margin:0;
	padding:0;
	display:inline-block;
	font-size: 14px;
}

footer ul.footer-links li:after {
	content: "|";
	margin:0 10px;
	display:inline-block;
}
footer ul.footer-links li:last-child:after {
	content: "";
	display:inline-block;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* lighter body text */

body {
	padding:0;
	color: #5a5a5a;
}

.align-right {text-align:right}
.align-left {text-align:left}
.pull-left {float:left}
.pull-right {float:right}
.center {margin:0 auto;text-align:center}

iframe { border:none; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
	background-color:#222 !important; /*#025AA5 !important;*/
}

/* Flip around the padding for proper display in narrow viewports */
.navbar > .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar .navbar .container {
	width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 500px;
	margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;
	background-color: #777;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}

.marketing h2,
.marketing h3 {
	font-size:24px;
	font-weight: normal;
	color:#337ab7;
}

.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}

/* Featurettes
------------------------- */
section.featurette-section {
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#222;
	background-attachment:fixed;
	padding:210px 0;
}

.featurette {
	color:#fff;
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
	font-size:32px !important;
	/*font-weight: normal;*/
	color:#337ab7;
	margin-top:0;
	padding:0;
}

.text-muted {color:#cfcfcf !important}


/* Images */

/* Bio page pictures */
.picturelist {
	list-style-type:none;
	text-align:center;
	margin:0;
	padding:0;
}

.picturelist .thumb {
	display:block;
	float:left;
	width:50%;
	margin:0;
	padding:0;
	text-align:center;
	background-color:#000;
}

.picturelist li img {
	width:100%;
	height:auto;
	opacity:0.75;
	transition:all ease 0.2s;
}

.picturelist li img:hover {
	opacity:1;
	transition:all ease 0.2s;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    /*margin-top: 120px;*/
  }
}