* {font-family: 'Raleway', sans-serif;}

p {
	font-size: 18px;
	line-height: 1.5;
}

.navbar-brand {
	font-family:"Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif !important;
	font-weight:700;
}

.navbar-brand span {
	color:#337AB7 !important;
	font-family: Book Antiqua,Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif !important;
	font-style:italic;
	font-weight:700;
}

.jumbotron,
.marketing {text-align:center}

.jumbotron {
	color:#fff;
	text-shadow:0 0 5px #000;
	background-image:url('../img/jumbotron/piano_blur.jpg');
	background-position:50% 50%;
	background-repeat:none;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	padding:128px 0;
}

.jumbotron .container{
	padding:20px 0;
}

.jumbotron h1, .jumbotron h1 span, .jumbotron h1 em {font-family: Book Antiqua,Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;}

.img-circle {
	display:block;
	width:140px;
	height:140px;
	background-color:#337ab7;
	color:#fff;
	border-radius:100%;
	margin:0 auto;
	background-position:50% 50%;
	background-repeat:no-repeat;
}

.img-circle.music {
	background-image:url('../img/png/piano3.png');
	background-image:url('../img/svg/piano3.svg');
}

.img-circle.voiceover {
	background-image:url('../img/png/voice15.png');
	background-image:url('../img/svg/voice15.svg');
}

.img-circle.sound-design {
	background-image:url('../img/png/music77.png');
	background-image:url('../img/svg/music77.svg');
}

#footer {
	background-color:#222;
	color:#efefef;
	padding:20px 0;
	margin:40px 0 0 0;
}

#footer a {
	color:#efefef;
}

footer ul.footer-links {
	margin:0;
	padding:0;
	list-style-type:none;
	font-size: 0;
}
footer ul.footer-links li {
	margin:0;
	padding:0;
	display:inline-block;
	font-size: 14px;
}

footer ul.footer-links li:after {
	content: "|";
	margin:0 10px;
	display:inline-block;
}
footer ul.footer-links li:last-child:after {
	content: "";
	display:inline-block;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* lighter body text */

body {
	padding:0;
	color: #5a5a5a;
}

.align-right {text-align:right}
.align-left {text-align:left}
.pull-left {float:left}
.pull-right {float:right}
.center {margin:0 auto;text-align:center}

iframe { border:none; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-wrapper .navbar .container {
	width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 500px;
	margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;
	background-color: #777;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Bio page pictures */
.picturelist {
	list-style-type:none;
	text-align:center;
}
.picturelist .thumb {
	display:inline-block;
	width:33.3%;
	margin:0;
	padding:0;
	text-align:center;
}

.picturelist li img {
	margin-bottom:20px;
	width:96px;
	height:auto;
}